body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-custom {
  background-color: #c196fa;
}

.btn-custom {
  background-color: #c196fa;
  color: #ffffff;
}

.btn-red {
  background-color: #f70655;
  color: #ffffff;
}

.white {
  color: #ffffff;
}

.btn-yellow {
  border-color: #fff58f;
  border-width: 2px;
  color: #fff58f;
}

.btn-yellow:hover {
  background-color: #fff58f;
  color: #6930a2 !important;
}

.btn-yellow, .btn-red, .btn-custon{
  border-radius: .3rem;
}

.round-angles {
  border-radius: .5rem;
}
