<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project L® My lizards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/my-lizards.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-custom navbar-dark">
        <a href="/" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt="" style="width:35px;"> Project L</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-5" id="collapsibleNavbar">
            <div class="text-center mx-auto">
                <a href="/about-us" class="text-white mx-2" style="text-decoration: none">About Us</a>
                <a href="#" class="text-white mx-2" style="text-decoration: none">Marketplace</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/my-lizards">My lizards</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3 class="m-1 my-4">@{{ username }}</h3>
    </div>
    {% if count > 0 %}
    <div class="container">
        <div class="row">
            {% for lizard in lizards %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="card m-1 my-2">
                    <img class="card-img-top" src="/static/img/lizards/{{ lizard.id }}.svg">
                    <div class="card-body">
                        <h4 class="card-title">Lizard #{{ lizard.id }}</h4>
                        <a href="#" class="btn btn-primary btn-custom border-0 w-100">See lizard</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row text-center">
            <h2 class="col text-black-50 my-5">Sorry, you don't have lizards.</h2>
        </div>
    </div>
    {% endfor %}
</body>
</html>